<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GunFiles.net</title>
    <link rel="stylesheet" type="text/css" href="style/index.css">
    <link rel='icon' href='img/us-flag-64-8120.png' type='image/png'>
</head>
<body>
    {{{body}}}
    <footer>
        <p>By accessing this website, you acknowledge and agree to the Terms of Use</p>
    </footer>

</body>
</html>