<header>
    <h1>GunFiles.net</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/guns">Guns</a>
        <a href="/tutorial">Tutorial</a>
        <a id="here" href="/contact">Contact</a>
    </nav>
</header>
<section id="intro">
    <div id="contact-info">
    <h2>Contact Information</h2><br>
    <table>
        <tr>
            <th>Email</th>
            <td id="email-address">3dgunfiles@protonmail.com</td>
        </tr>
            <th>Gab</th>
            <td><a href="http://www.gab.com/3dGunFiles/">Gab.com/3dGunFiles</a></td>
        </tr>
    </table>
    </div>    
</section>