<header>
        <h1>GunFiles.net</h1>
        <nav>
            <a id="here" href="/">Home</a>
            <a href="/guns">Guns</a>
            <a href="/tutorial">Tutorial</a>
            <a href="/contact">Contact</a>
        </nav>
    </header> 
<section id="before-intro">
        <h2>Gab.com/3dGunFiles</h2><br>
        <!-- <p>Gab.com/3dGunFiles</p><br> -->
    </section>
    <section id="intro">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/vGoFyueeGnM" frameborder="0" id="yt-embed" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div id="separate-intro">
        <h2>DetDisp FGC-9 Carbine</h2><br>
        <p>The FGC-9 is a 9x19mm pistol caliber carbine that is made mostly out
            of 3D-printed components, utilizes an AR-15 or airsoft M4 rifle fire
            control group, is compatible with Glock magazines and offers a truly
            effective, simple to build and reliable tactical option for self-defense and more.</p><br>
        <p>The FGC-9 is without a doubt the most
            effective and easiest to build homemade semi-automatic firearm design
            for people with limited access to gunsmithing knowledge and tools.</p>
        <a href="magnet:?xt=urn:btih:6F8A6FA7EFE5AB7B04047BD22BF0C2AD2AAD9F47&dn=FGC-9%20MkI%20-%20JStark1809&tr=udp%3A%2F%2Ftracker.coppersurfer.tk%3A6969%2Fannounce&tr=udp%3A%2F%2F9.rarbg.to%3A2920%2Fannounce&tr=udp%3A%2F%2Ftracker.opentrackr.org%3A1337&tr=udp%3A%2F%2Ftracker.internetwarriors.net%3A1337%2Fannounce&tr=udp%3A%2F%2Ftracker.leechers-paradise.org%3A6969%2Fannounce&tr=udp%3A%2F%2Ftracker.coppersurfer.tk%3A6969%2Fannounce&tr=udp%3A%2F%2Ftracker.pirateparty.gr%3A6969%2Fannounce&tr=udp%3A%2F%2Ftracker.cyberia.is%3A6969%2Fannounce"><button id="spotlight-download-button" >Torrent Download</button></a>
        </div>    
    </section>
    <section class="gallery">
        <div class="gallery-items">
            <a href="guns.html#ar15"><img src="img/ar15.png" class="gallery-images" alt="DestDisp AR-15 version 1.1"></a>
            <a href="guns.html#ar15"><p class="gallery-text">DestDisp AR-15 version 1.1</p></a>
        </div>
        <div class="gallery-items">
            <a href="guns.html#ar15mags"><img src="img/ar15mags.png" class="gallery-images" alt="Ivan's 100% DIY 30rd AR-15 Magazine V1.0"></a>
            <a href="guns.html#ar15mags"><p class="gallery-text">Ivan's 100% DIY 30rd AR-15 Magazine V1.0</p></a>
        </div>
        <div class="gallery-items">
            <a href="guns.html#glock"><img src="img/glock.png" class="gallery-images" alt="DetDisp Glock 17 Gen3 Frame"></a>
                <a href="guns.html#glock"><p class="gallery-text">DetDisp Glock 17 Gen3 Frame</p></a>
        </div>
    </section>