<header>
    <h1>GunFiles.net</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/guns">Guns</a>
        <a href="/tutorial">Tutorial</a>
        <a href="/contact">Contact</a>
    </nav>
</header>
<h1 style="text-align: center">Not Found</h1>