<header>
    <h1>GunFiles.net</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/guns">Guns</a>
        <a id="here" href="/tutorial">Tutorial</a>
        <a href="/contact">Contact</a>
    </nav>
</header>
<a id="tutorial-a" href="files/3dguide.pdf" download><button  id="tutorial-button">Download pdf (828KB)</button></a>
<iframe src="files/3dguide.pdf" id="pdf" height="800px" width="80%"></iframe>